.person,
.investor {

  padding-left: 0;

  @extend %responsive-grid-item;

  h4,
  h5 {
    font-family: $font-family-base;
    color: $gray-dark;
  }

  h4 {
    font-weight: bold;
    font-size: 1em;
  }

  h5 {
    font-size: 1em;
  }


}


.modal {

  header {
    padding-left: 2em;
    padding-right: 2em;
  }

  h4 {
    font-family: $font-family-base;
    font-size: 1em;
    letter-spacing: 0;
  }

  .bio {
    padding: 2em;
  }

}
