---
layout: layouts/default.twig
pageTitle: Hello World!
---

<h2>{{ pageTitle }}</h2>

{{ partial('button', {primary: true, title: 'Hello!', active: false })|raw }}

<h2>Using Include with namespace</h2>
{% include "@kalastatic/partials/atoms/button.twig" with { title: 'Hello World!' } only %}

<h2>Button Group</h2>
{% include "@kalastatic/partials/molecules/button-group.twig" with { buttons: {one: {title: 'Button One'}, two: {title: 'Button Two'}} } only %}
