<footer class="footer">
    <ul class="nav navbar-nav">
      {% for navItem in navigation.footer %}
      {% set navItemIsActivePage = navItem.name|isSlugMatch(pageSlug) %}
      {% if navItemIsActivePage == true %}
      <li class="{{ navItem.name|slug }} active">
      {% else %}
      <li class="{{ navItem.name|slug }}">
      {% endif %}
        <a href="{{ navItem.url }}" title="{{ navItem.title|'' }}">{{ navItem.name }}</a>
      </li>
      {% endfor %}
    </ul>
    {% if config.copyright || config.github %}
    <div class="addendum">
      <p class="copyright">
        {{ config.copyright|safe }}
      </p>
      <p class="github">
        {{ config.github|safe }}
      </p>
    </div>
    {% endif %}
</footer>
