<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      {% for navItem in navigation.primary %}
        {% set navItemIsActivePage = navItem.name|isSlugMatch(pageSlug) %}
        {% if navItemIsActivePage == true %}
          <li class="{{ navItem.name|slug }} active">
        {% else %}
          <li class="{{ navItem.name|slug }}">
        {% endif %}
          <a href="{% if navItem.url %}{{ navItem.url }}{% else %}{{ navItem.name|slug }}{% endif %}">{{navItem.name}}</a>
        </li>
       {% endfor %}
    </ul>
  </div>
</nav>
