<div class="modal fade" id="modal-{{id|slug}}" tabindex="-1">

  <div class="modal-dialog">

    <div class="modal-content">

      <header class="modal-header">
        <a class="close" data-dismiss="modal">
          <span class="icon" aria-hidden="true"></span>
          <span class="sr-only">Close</span>
        </a>
        <h2 class="modal-title fn">{% if title %}{{title}}{% else %}title{% endif %}</h2>
      </header>

      <section class="content">
        {% if modalContent %}{{modalContent|safe}}{% else %}modalContent{% endif %}
      </section>

    </div>

  </div>

</div>
