
.styleguide-sample {
  .details-tabs {
    border: 1px solid var(--color-grey-80);
    background: white;
    margin: 1rem 0;
    details {
      summary {
        background: var(--color-grey-80);
      }
      &[open] summary {

          background: white;
      }
      .details-content {
      }
      pre {
        &[class*=language-] {
          background: transparent;
          padding: 0;
          margin: 1em;
          code {
            border: 0;
          }
        }
      }
    }
  }
  // Add padding to the rendered sample if the variable is set.
  &--add-padding {
    details:first-child {
      .details-content {
        padding: var(--container-padding);
      }
    }
  }
}
