---
title: Hello World!
pretty: true
---
doctype html
html(lang="en")
  head
    title= title
  body
    h1 KalaStatic BrowserSync Watch/Start
    p This is built from the "test/fixtures/start" directory.
    ol
      li Run npm start
      li Open up test/fixtures/start/src/index.html.pug
      li Change something
      li See it reflet in the browser after it's built
      li WOW!
