.home_link {
  position: fixed;
  top: 0;
  left: 0;
  a {
    display: block;
    @extend .fa;
    @extend .fa-home;
    font-size: 1.125em;
    padding: .5em;
    color: $gray-light;
    background-color: $gray-dark;
    float: left;
    &:hover,
    &:active,
    &:focus {
      background-color: $brand-primary;
      color: $gray-dark;
    }
  }
}

.collapsing {
  transition-property: height;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration: .25s;
}

#header > .navbar {
  border: none;
  background-color: none;
  box-shadow: none;
}

$nav-bar-padding: 2.575em;
$nav-bar-padding-shrunk: 1.5em;
#header .navbar-nav {

  float: right;

  li {

    margin-right: .0875em;

    a {

      font-family: $font-family-sans-serif !important;
      font-size: 1.2em;
      background-color: $gray-dark;
      padding-top: 1em;
      padding-bottom: 1.25em;
      padding-left: 1em;

      @media screen and (min-width: $screen-sm) {

        transition-property: padding-top, padding-bottom, font-size;
        transition-duration: .25s;
        @extend %easeOutOver;

        padding-top: $nav-bar-padding;

        .shrunk & {
          padding-top: $nav-bar-padding-shrunk;
          padding-bottom: 1.25em;
        }
      }

    }

    &.active a,
    a:hover, {
      background: $brand-primary;
      color: $gray-dark;
    }

  }

  li:last-child {

    a {
      padding-right: 2em;
    }

  }

}

#navbar {
  @extend .container;
  width: 100%;
}

#search-form {
  $search-form-padding-offset: 0.5em;
  @extend .col-sm-3;
  padding-top: $nav-bar-padding - $search-form-padding-offset;
  float: right;

  @media screen and (min-width: $screen-sm) {
    transition-property: padding-top;
    transition-duration: .25s;
    @extend %easeOutOver;

    .shrunk & {
      padding-top: $nav-bar-padding-shrunk - $search-form-padding-offset;
    }
  }
}

.navbar-toggle {
  top: 0;
  right: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: $gray-dark;
  padding: 1em .75em;
  font-size: .875em;
  .icon-bar {
    border: 1px $gray-light solid;
  }
  &:hover,
  &:active,
  &focus {
    background-color: $brand-primary;
    .icon-bar {
      border: 1px $gray-dark solid;
    }
  }
}
