.modal-backdrop {
  opacity: 0.9;
}

.modal {

  display: none;
  perspective-origin: bottom;
  perspective: 1200px;
  color: $c-black;

  .modal-header {

    .close {
      @extend .fa;
      @extend .fa-close;
      background-color: $c-black;
      border-radius: 50%;
      width: 1.5em;
      height: 1.5em;
      color: $c-white;
      margin-top: 0.75em;

      &::before {
        position: relative;
        top: 0.2195em;
        left: 0.335em;
      }
    }
  }

  .modal-dialog {
    @extend %ease-out-quad;
    z-index: $zindex-modal + 1;
    transform: rotateY(90deg) translate3d(0, 0, 0) !important;
    top: 0;
    transform-origin: center top;
    transition-property: transform;
    transition-duration: 0.275s !important;
    margin-bottom: 0;
    padding-bottom: 2em;
  }

  &.in {
    display: block;
  }

  &.in .modal-dialog {
    transform: rotateY(0) translate3d(0, 0, 0) !important;
  }

}
