.homepage {

  background-attachment: fixed;
  background-image: url('../images/static.gif');
  background-size: cover;
  background-repeat: no-repeat;

  .main {

    font-size: 2em;

    @media (min-width: $screen-sm) {
      font-size: 3em;
    }

    .contents {
      line-height: 1.425;

      p {
        display: inline;
        position: relative;
        left: 0.5em;
        background: $gray-light;
        box-shadow: 0.375em 0 0 $gray-light, -0.375em 0 0 $gray-light;
        box-decoration-break: clone;
      }
    }

    .content-heading {
      h1 {
        @media ( max-width: $screen-sm ){
          @include text-glitch('heading', 32, $c-white, transparent, $c-white, $c-white, 480, 140);
          font-size: 2em;
        }
        @media ( min-width: $screen-sm ){
          @include text-glitch('heading', 48, $c-white, transparent, $c-white, $c-white, 1000, 200);
          font-size: 3em;
        }
      }
    }
  }
}
