.homepage {

  background-attachment: fixed;
  background-image: url("../images/static_b.gif");
  background-size: cover;
  background-repeat: no-repeat;

  .main {

    font-size: 2em;

    @media (min-width: $screen-sm) {
      font-size: 3em;
    }

    .contents {
      line-height: 1.425;
      p {
        display: inline;
        position: relative;
        left: .5em;
        background: #ddd;
        box-shadow: .375em 0 0 #ddd, -.375em 0 0 #ddd;
        box-decoration-break: clone;
      }
    }

    .content-heading {
      @media ( max-width: $screen-sm ){
        font-size: 2em;
        @include textGlitch("heading", 32, #fff, transparent, #ccc, #eee, 480, 140);
      }
      @media ( min-width: $screen-sm ){
        font-size: 3em;
        @include textGlitch("heading", 48, #fff, transparent, #ccc, #eee, 1000, 200);
      }
    }
  }
}
