<footer class="footer">
  <div class="navbar-header">
    <a href="www.kalamuna.com">
      <h1 class="identity navbar-brand">
        <span class="sr-only">{{sitemeta.title|safe}}</span>
      </h1>
    </a>
  </div>
  <ul class="nav navbar-nav">
    {% for navItem in navigation.footer %}
    {% set navItemIsActivePage = navItem.name|isSlugMatch(pageSlug) %}
    {% if navItemIsActivePage == true %}
    <li class="{{ navItem.name|slug }} active">
    {% else %}
    <li class="{{ navItem.name|slug }}">
    {% endif %}
      <a href="{{ navItem.url }}" title="{{ navItem.title|'' }}">{{ navItem.name }}</a>
    </li>
    {% endfor %}
  </ul>
</footer>
