
.component-library-example {
  margin: 3rem 0;
  padding-bottom: 3rem;
  border-bottom: 1px solid #ccc;
}

.component-library-example details {
  border: 1px solid #ccc;
  margin: 1rem 0;
}

.component-library-example details summary {
  background: #ccc;
  padding: .5em 1em;
}

.component-library-example details .details-content {
  margin: 1em;
}
