$nav-bar-padding: 2.575em;
$nav-bar-padding-shrunk: 1.5em;

$search-form-padding-offset: 0.5em;

.collapsing {
  transition-property: height;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.25s;
}

#header > .navbar {
  border: none;
  background-color: $gray-lighter;
  box-shadow: 1px 1px 3px $c-black-transparent-25;
}

.navbar-header .identity {

  @extend %ease-out-quad;

  transition-property: width, height, margin-top;
  transition-duration: 0.25s;
  margin-top: 0.065em;
  width: 231px;
  height: 89px;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: cover;

  a {
    display: block;
  }

}

#header .navbar-nav {

  float: right;

  li {

    margin-right: 0.0875em;

    a {

      font-family: $font-family-sans-serif !important;
      font-size: 1.2em;
      background-color: $gray-dark;
      padding-top: 1em;
      padding-bottom: 1.25em;
      padding-left: 1em;

      @media (min-width: $screen-sm) {

        @extend %ease-out-quad;
        transition-property: padding-top, padding-bottom, font-size;
        transition-duration: 0.25s;
        padding-top: $nav-bar-padding;

        .shrunk & {
          padding-top: $nav-bar-padding-shrunk;
          padding-bottom: 1.25em;
        }
      }

      .active > &,
      &:hover {
        background: $brand-primary;
        color: $gray-dark;
      }
    }

    &:last-child {

      a {
        padding-right: 2em;
      }

    }
  }
}

#navbar {
  @extend .container;
  width: 100%;
}

#search-form {

  @extend .col-sm-3;
  padding-top: $nav-bar-padding - $search-form-padding-offset;
  float: right;

  @media screen and (min-width: $screen-sm) {

    @extend %ease-out-quad;
    transition-property: padding-top;
    transition-duration: 0.25s;

    .shrunk & {
      padding-top: $nav-bar-padding-shrunk - $search-form-padding-offset;
    }
  }
}

.navbar-toggle {
  margin-top: 2em;
  margin-right: 0.5em;
  border: none;
  border-radius: 0;
  background-color: $text-color;
  padding: 1em 0.75em;
  top: 0;
  font-size: 0.875em;
}
