{% extends 'html.html' %}

  {% block contents %}

  <main role="main">
    <article>
      <h1>{{ title }}</h1>
      <div id="contact-msg">
        {{contents|safe}}
      </div>
      <div id="contact-form">
        <form
          class="validate form-horizontal contact brace"
          id="mc-embedded-subscribe-form"
          method="post"
          name="mc-embedded-subscribe-form"
          target="_blank">
          <div class="form-group">
            <label class="sr-only">Name</label>
            <input class="required form-control text"
              id="mce-NAME"
              name="NAME"
              placeholder="Name"
              type="text"
              required
              value="" />
            <label class="sr-only" for="mce-EMAIL">Email address</label>
            <input class="required email form-control"
              id="mce-EMAIL"
              name="EMAIL"
              placeholder="Email address"
              required=""
              type="email"
              value="" />
          </div>
          <div class="form-group">
            <label class="sr-only control-label"
              for="mce-COMPANY">Organization</label>
            <input class="form-control"
              id="mce-COMPANY"
              name="COMPANY"
              placeholder="Organization"
              type="text"
              value="" />
          </div>
          <div class="form-group">
            <label class="sr-only control-label"
              for="mce-MESSAGE">Message</label>
            <textarea class="form-control"
              id="mce-MESSAGE"
              name="MESSAGE"
              placeholder="Enter your message"
              required
              rows="3"></textarea>
          </div>
          <input type="hidden" name="ref" />
          <input class="btn btn-primary button"
            id="mc-embedded-subscribe"
            name="subscribe"
            type="submit"
            value="Submit"/>
        </form>
      </div>
    </article>
  </main>

  {% endblock %}
