{% extends 'layouts/html.html' %}

{% block contents %}

  <main role="main">
    <article>

      {{contents|safe}}

      <section class="examples">
        <h1>Examples</h1>
        <ul class="examples">
          {% for example in collections.examples %}
          <li>
            <a href="/examples/{% if example.pageSlug %}{{example.pageSlug}}{% else %}{{example.title|slug}}{% endif %}/">
              <h2>{{example.title}}</h2>
              <p>{{example.teaser|safe}}</p>
            </a>
          </li>
          {% endfor %}
        </ul>
      </section>
    </article>
  </main>

{% endblock %}
