<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="apple-touch-icon" href="/images/touch-icon.png">
  <link rel="icon" href="images/favicon.png">
  <!--[if IE]><link rel="shortcut icon" href="/images/favicon.ico"><![endif]-->
  <!-- or, set /favicon.ico for IE10 win -->
  <meta name="msapplication-TileColor" content="#f00">
  <meta name="msapplication-TileImage" content="/images/tileicon.png">

  <title>
    {% block title %}{{config.title|title}}{% endblock %}
  </title>

  {% block head %}
    <meta name="description" content="{{ config.description }}">
  {% endblock %}

  {% block styles %}
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  {% endblock %}

</head>
<body class="{% if page_slug %}{{page_slug}}{% else %}{{title|slug}}{% endif %}">

  {% block header %}
  <header id="header">
    {% block navigation %}
      {% include "./partials/header-fixednav.html" %}
    {% endblock %}
  </header>
  {% endblock %}

  {% block contents %}
  <main role="main">

    <article>

      <div class="content">
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
      </div>

      {{contents|safe}}

    </article>

  </main>
  {% endblock %}

  {% block footer %}
    {%include "./partials/footer.html" %}
  {% endblock %}

  {% block page-suffix %}
  {% endblock %}

  {% block scripts %}
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/matchHeight/jquery.matchHeight.js"></script>
    <script src="/vendor/holderjs/holder.js"></script>
    <script src="/vendor/bootstrap-sass-twbs/assets/javascripts/bootstrap.js"></script>
    <script src="/js/scripts.js"></script>
  {% endblock %}

</body>
</html>
