<nav class="header-search">

  <form class="search-form container" action="/search/all" method="post" id="search-form" accept-charset="UTF-8" role="form">

    <div>
      <div class="container-inline form-inline form-wrapper" id="edit-basic">
        <div class="form-item form-type-textfield form-item-keys form-group">
          <label for="edit-keys" class="sr-only">Search Casper College</label>
          <input class="form-control form-text" id="edit-keys" name="keys" value="" size="40" maxlength="255" type="text" placeholder="Search">
        </div>
        <input id="edit-submit" name="op" value="Search" class="form-submit btn btn-default btn-primary sr-only" type="submit">
      </div>
      <input name="form_build_id" value="form-681JXRacaV5IdqU7Pr8_Y7pStBEYk88PrDExlRqzNwA" type="hidden">
      <input name="form_id" value="search_form" type="hidden">
    </div>
  </form>

  <ul class="menu-directory-links">
    <li><a class="[link-type] [classes]" href="">A-Z Guide</a></li>
    <li><a class="[link-type] [classes]" href="">Directory</a></li>
  </ul>

</nav>
