/*!
Component Name

Component description

Markup:
{% include "components/molecules/cta/cta.html" %}
*/

.cta-wrapper {
  @extend .clearfix;
  clear: both;
  background: #dedede;
  .cta {
    text-align: center;
  }
}
