/*
Sticky Footer

Provides a sticky footer at the bottom of the page.

Markup:
<footer class="footer">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="#">Investor Information</a></li>
      <li><a href="#">Media</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</footer>

Styleguide 4.2
*/

html {
  position: relative;
  min-height: 100%;
}

li.active a {
  background: $link-color;
  color: $gray-dark;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  @extend .clearfix;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $gray-dark;
}

.footer {

  .navbar-nav {
    padding-top: .375em;
  }

  a {
    color: white;
  }

}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.addendum {
  .github,
  .copyright {
    @extend .navbar-text;
    @extend .text-muted;
    @extend .navbar-right;
  }
  .copyright {
    margin-right: 2em;
  }
}
