body {
  padding-top: 8em;
}

main > article {

  border-radius: 0;
  @extend .col-sm-9;
  @extend .row;
  background-color: $body-bg;
  padding: 0;
  padding-bottom: 2em;
  margin: 0 auto;
  clear: both;
  float: none;

  .content {
  }

  //.cta-wrapper,
  //..tab-pane,
/*
  .content {
    @extend .row;
    padding: 2em;
    margin: 0;
  }
*/

  .content {
    @extend .col-sm-12;
  }

  section > section {
    @extend .clearfix;
  }

}

// Teasers and article grids.
.teaser-grid {
  @extend .clearfix;
  .teaser {
    @extend %tout-quadriptych;
  }
}

.teasers {
  @extend .col-sm-12;
}



.twocol-pic-first {
  .image {
    @extend .col-sm-4;
    img {
      @extend %responsive-image;
    }
  }
  .copy {
    @extend .col-sm-8;
  }
}

.twocol-pic-last {
  .image {
    @extend .col-sm-4;
    img {
      @extend %responsive-image;
    }
  }
  .copy {
    @extend .col-sm-8;
  }
}

