body {
  padding-top: 13em;
}

main > article {

  border-radius: 0;
  @extend .col-sm-9;
  @extend .row;
  background-color: $body-bg;
  padding: 0;
  padding-bottom: 2em;
  margin: 0 auto;
  clear: both;
  float: none;

  .content {
  }

  .cta-wrapper,
  .tab-pane,
  .content {
    @extend .row;
    padding: 2em;
    margin: 0;
  }

  section > section {
    @extend .clearfix;
  }

}

// teasers and article grids
.teasers {
  @extend .clearfix;
  .teaser {
    @extend %tout-quadriptych;
  }
}



.twocol-pic-first {
  .image {
    @extend .col-sm-4;
    img {
      @extend %responsive-image;
    }
  }
  .copy {
    @extend .col-sm-8;
  }
}

.twocol-pic-last {
  .image {
    @extend .col-sm-4;
    img {
      @extend %responsive-image;
    }
  }
  .copy {
    @extend .col-sm-8;
  }
}

