.homepage {
  padding-bottom: 2em;
  background-attachment: fixed;
  
  header.content-heading {
    text-align: center;
    
    h1 {
      @include textGlitch("heading", 15, black, trasnparent, #bfd4c0, #eedade, 800, 115);
    }
  }
}