.cool-things {
  .teasers {

    .teaser {

      .wrapper {
        padding: 1em;
        background-color: #dedede;
        box-shadow: 1px 1px 3px rgba(0,0,0,.3);
      }

    }
    @include container-fixed(12px);
    max-width: $screen-lg;
    margin: 0 auto;
  }
}
