{% set title = "Hello World!" %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    {{ stylesheets }}
  </head>
  <body>
    {% include '@components/body.twig' %}

    {{ attach_library('samplelibrary') }}

    {{ scripts }}
  </body>
</html>
