/*
Lede Example

Y'know…

Markup:
{% include "components/molecules/lede/lede.html" %}

Styleguide 5.1
*/
.lede {
  @extend .jumboTron;
  @extend %panelShadow;
  position: relative;
  // top: -6em;
  background: $body-bg;
  padding: 2em;
  margin-bottom: 2em;
}
