{% extends '../../layouts/html.html' %}

{% block contents %}

<div class="container-fluid">
  <div id="content">
    <div class="layout-1">
      <section class="hero">
        <div class="content-placeholder"></div>
      </section>
      <div class="container">
        <section class="row">
          <div class="col-xs-12">
            <div class="content-placeholder"></div>
          </div>
        </section>
        <section class="row">
          <div  class="col-sm-4">
            <div class="content-placeholder"></div>
          </div>
          <div  class="col-sm-4">
            <div class="content-placeholder"></div>
          </div>
          <div  class="col-sm-4">
            <div class="content-placeholder"></div>
          </div>
        </section>
        <section class="row">
          <div  class="col-xs-12">
            <div class="content-placeholder"></div>
          </div>
        </section>
        <section class="row">
          <div  class="col-sm-6">
            <div class="content-placeholder"></div>
          </div>
          <div  class="col-sm-6">
            <div class="content-placeholder"></div>
          </div>
        </section>
        <section class="row">
          <div  class="col-xs-12">
            <div class="content-placeholder"></div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

{% endblock %}
