%responsive-image{
  width: 100% !important;
  height: auto !important;
}

%center-h {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

%panelShadow {
  box-shadow: 1px 1px 5px rgba(#000,.5);
}

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

%responsive-item {
  width: 100%;
  margin: 0 auto;
  img {
    @extend %responsive-image;
  }
}

%tout-triptych{
  @include make-xs-column(6);
  @include make-sm-column(3);
  @include make-md-column(4);
  @include make-lg-column(4);
  @extend %responsive-item;
}

%tout-quadriptych {
  @include make-xs-column(6);
  @include make-sm-column(6);
  @include make-md-column(3);
  @include make-lg-column(3);
  @extend %responsive-item;
}

%tout-pentaptych {
  @include make-xs-column(12);
  @include make-sm-column(2.4);
  @include make-md-column(2.4);
  @include make-lg-column(2.4);
  @extend %responsive-item;
}


