%responsive-image{
  width: 100% !important;
  height: auto !important;
}

%center-h {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

%panelShadow {
  box-shadow: 1px 1px 5px rgba(#000,.5);
}

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

%responsive-item {
  width: 100%;
  margin: 0 auto;
  img {
    @extend %responsive-image;
  }
}

%tout-triptych{
  @include make-xs-column(6);
  @include make-sm-column(3);
  @include make-md-column(4);
  @include make-lg-column(4);
  @extend %responsive-item;
}

%tout-quadriptych {
  @include make-xs-column(6);
  @include make-sm-column(6);
  @include make-md-column(3);
  @include make-lg-column(3);
  @extend %responsive-item;
}

%tout-pentaptych {
  @include make-xs-column(12);
  @include make-sm-column(2.4);
  @include make-md-column(2.4);
  @include make-lg-column(2.4);
  @extend %responsive-item;
}



// Transitions
////////////////////////////////////

// Cubic
%easeInCubic {
  transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

%easeOutCubic {
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

%easeInOutCubic {
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

// Circ
%easeInCirc {
  transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
}
%easeOutCirc {
  transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}
%easeInOutCirc {
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

// Expo
%easeInExpo {
  transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035);
}
%easeOutExpo {
  transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
%easeInOutExpo {
  transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

// Quad
%easeInQuad {
  transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
}
%easeOutQuad {
  transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
%easeInOutQuad {
  transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

// Quart
%easeInQuart {
  transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
}
%easeOutQuart {
  transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
%easeInOutQuart {
  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

// Quint
%easeInQuint {
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
}
%easeOutQuint {
  transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
%easeInOutQuint {
  transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
}

// Sine
%easeInSine {
  transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715);
}
%easeOutSine {
  transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
%easeInOutSine {
  transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

// Back
%easeInBack {
  transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
}

%easeOutBack {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

%easeInOutBack {
  transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
