// Source Sans Pro Vendor
$SourceSansProFontsPath: "/vendor/fontface-source-sans-pro/fonts";
@import "fontface-source-sans-pro/scss/source-sans-pro";

textarea,
input {
  @include placeholder {
    line-height: 1.5;
  }
}

h1,
h2,
h3,
h4 {
  margin-bottom: .25em;
  line-height: 1.2;
  letter-spacing: .05em;
}

%h6 {
  font-size: $font-size-h5;
  font-family: $font-family-base;
  font-weight: bold;
}
