// Source Sans Pro Vendor
$source-sans-pro-fonts-path: '/vendor/fontface-source-sans-pro/fonts';

@import 'fontface-source-sans-pro/scss/source-sans-pro';

h1,
h2,
h3,
h4 {
  margin-bottom: 0.25em;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

%h6 {
  font-size: $font-size-h5;
  font-family: $font-family-base;
  font-weight: bold;
}
